### Lists

In [9]:
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [10]:
my_list = ['list', 'of', 'strings']

order do matter

In [16]:
[1,2,3] == [3,2,1]

False

we can add more values

In [20]:
my_list.append(6)
print(my_list)

['list', 'of', 'strings', 6]

### Sets

In [11]:
my_sets = {1,2,3,4,5}
print (my_sets)

{1, 2, 3, 4, 5}

In [12]:
type(my_sets)

set

In [13]:
len(my_sets)

5

order does not matter

In [17]:
{1,2,3} == {3,2,1}

True

### Tuples

In [14]:
my_tuples = (1,2,3)
print(my_tuples)

(1, 2, 3)

In [15]:
len(my_tuples)

3

order do matter

In [18]:
(1,2,3) == (3,2,1)

False

### Dictionaries

In [21]:
my_dictionary = {
  'apple' : 'A red fruit',
  'bear' : 'A scary animal'
}

In [22]:
my_dictionary['apple']

'A red fruit'

### Arithmetic Operators

In [23]:
1+1

2